vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Feb 2018 20:56:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Portfolio/projects.html
vti_author:SR|MICHELLE\\Lori
vti_modifiedby:SR|MICHELLE\\Lori
vti_timecreated:TR|19 Feb 2018 20:56:36 -0000
vti_cacheddtm:TX|19 Feb 2018 20:56:36 -0000
vti_filesize:IR|2549
vti_cachedlinkinfo:VX|S|desktop.jpg S|01-whitepaper.png
vti_cachedsvcrellinks:VX|NSUS|Portfolio\\ Host\\ Nine/resume/desktop.jpg NSUS|Portfolio\\ Host\\ Nine/resume/01-whitepaper.png
