vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Mar 2018 15:53:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|MICHELLE\\Lori
vti_modifiedby:SR|MICHELLE\\Lori
vti_timecreated:TR|05 Mar 2018 15:53:48 -0000
vti_cacheddtm:TX|05 Mar 2018 15:53:48 -0000
vti_filesize:IR|2614
vti_cachedlinkinfo:VX|S|desktop.jpg S|paper.png
vti_cachedsvcrellinks:VX|NSUS|Portfolio\\ Host\\ Nine\\ -final/oldCSS/desktop.jpg NSUS|Portfolio\\ Host\\ Nine\\ -final/oldCSS/paper.png
vti_backlinkinfo:VX|
