vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Aug 2018 21:46:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Portfolio\\ Host\\ Nine\\ -\\ bullets/indexResumeOld.html Portfolio\\ Host\\ Nine/indexResume.html Portfolio\\ Host\\ Nine/indexResumeWorkingCopy2.html
vti_author:SR|MICHELLE\\Lori
vti_modifiedby:SR|MICHELLE\\Lori
vti_timecreated:TR|19 Feb 2018 20:56:36 -0000
vti_nexttolasttimemodified:TW|14 Aug 2018 21:44:52 -0000
vti_cacheddtm:TX|14 Aug 2018 21:46:02 -0000
vti_filesize:IR|3520
vti_cachedlinkinfo:VX|S|desktop.jpg S|paper.png
vti_cachedsvcrellinks:VX|FSUS|Portfolio\\ Host\\ Nine\\ -final/desktop.jpg FSUS|Portfolio\\ Host\\ Nine\\ -final/paper.png
