vti_encoding:SR|utf8-nl
vti_author:SR|MICHELLE\\Lori
vti_modifiedby:SR|MICHELLE\\Lori
vti_timelastmodified:TR|05 Mar 2018 15:53:48 -0000
vti_timecreated:TR|05 Mar 2018 15:49:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Portfolio\\ Host\\ Nine/indexResumeWorkingCopy.html
vti_nexttolasttimemodified:TW|05 Mar 2018 15:53:41 -0000
vti_cacheddtm:TX|05 Mar 2018 15:53:48 -0000
vti_filesize:IR|2614
vti_cachedlinkinfo:VX|S|desktop.jpg S|paper.png
vti_cachedsvcrellinks:VX|FSUS|Portfolio\\ Host\\ Nine/desktop.jpg FSUS|Portfolio\\ Host\\ Nine/paper.png
